@import 'normalize.css';
:root{
    // color
    --primary: #f0d8b3;
    --white: #fff;
    --text-color: #333;

    // icon
    --default-icon-width: 25px;

    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}