.sidebar {
    background-color: #5d1818;
    color: #ffffff;
    margin-left: 39%;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    transition: width 0.3s ease; /* Thêm animation khi thu lại */
    
    &.collapsed {
        width: 60px; /* Chiều rộng nhỏ khi thu lại */
    }
}

.navItem {
    margin: 5px 0;

    &.collapsed {
        .navLink {
            text-align: center; /* Canh giữa khi sidebar thu lại */
            padding: 10px;
        }
    }
}

.navLink {
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
    &:hover {
        background-color: #555;
    }
}

.dropdownMenu {
    margin-left: 20px;
    background-color: #444;
    border-radius: 5px;
}

.toggleButton {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .menu {
        width: 100%;
        height: 100px; /* Giảm chiều cao sidebar để thành ngang */
        display: flex;
        flex-direction: row; /* Thay đổi thành chiều ngang */
        justify-content: space-around;
        align-items: center;
    }

    .menu.collapsed {
        height: 60px;
        width: 100%; /* Đảm bảo chiều ngang full màn hình */
    }

    .navItem {
        flex: 1;
        text-align: center; /* Căn giữa nội dung menu item */
    }

    .dropdownMenu {
        display: none; /* Ẩn dropdown trên di động */
    }
}